:root{
    --background-body: #background: rgb(0,24,36);
    background: linear-gradient(90deg, rgba(0,24,36,1) 0%, rgba(8,65,56,1) 47%, rgba(147,177,166,1) 100%);
    --Nav-footer: white;
    --Botones: #040D12;
}
*{
    font-family: 'Roboto', sans-serif;
    color: var(--Nav-footer);
}
body{
    background-color: var(--background-body);
    color: gainsboro;
    justify-content: center;
}
.card{
    width: 260px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quienes-somos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 50px;
}
.card-img-top{
    height: 250px;
    width: 200px;
    border-radius: 50%;
}
header{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 100px !important;
}
nav.navbar{
    background-color: whitesmoke !important;
    border-bottom: 2px;
    box-shadow: 0px 3px 8px -3px rgba(0,0,0,0.75);
}
footer{
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke !important;
    border-top: 1px solid rgb(227, 224, 224);
}

#footer-2{
    padding-top: 20px !important;
    
}

.footer-tt{
    margin-bottom: 10px;
}

.redes{
    display:none

}
@media screen and (min-width: 992px) {
    .redes{
      display:block;
    }
  }

  .contacto{
    display:none
  }
@media screen and (min-width: 600px) {
    .contacto{
      display:block;
    }
  }

.div-button-google{
    margin-bottom: 5px !important;
}
.div-button-google :link{
    text-decoration: none;
    font-weight: bold;
}  

.button-footer{
    color:black;
}
